<div>
  <!-- <img
  [src]="statusDefaultImg"
  [ngClass]="{ 'status': true, 'checked-in': item.checkedIn, 'not-checked-in': !item.checkedIn }"
   /> -->
  <!-- Style binding -->
  <!-- <span [ngClass]="{ 'status': true, 'checked-in': item.checkedIn, 'not-checked-in': !item.checkedIn }"
    [style.backgroundColor]="(item.checkedIn ? 'green' : 'red')">&nbsp;</span> -->
  <!-- ngStyle -->
  <span [ngClass]="{ 'status-with-ng-style': true, 'status': true, 'checked-in': item.checkedIn, 'not-checked-in': !item.checkedIn }"
    [ngStyle]="{ 'backgroundColor': (item.checkedIn ? 'green' : 'red')}">&nbsp;</span>

  <div *ngIf="editing">
    <input #name (input)="onNameChange(name.value)" type="text" [value]="item.fullname" />
  </div>
  <div *ngIf="!editing">
    {{ item.fullname }}
  </div>
  <!-- pipe for data "handling" -->
  <p>{{ item | json }}</p>
  <!-- Using pipe for data transformation -->
  <div class="date">
    Check in date: {{ item.checkInDate | date: 'yMMMMd' }}
  </div>
  <div class="children">
    <!-- Using safe navigation operator -->
    {{ item.children?.length }}
  </div>
  <button (click)="toggleEdit()">{{ editing ? 'Done' : 'Edit' }}</button>
  <button (click)="onRemove()">Remove</button>
</div>
