img {
  &.status {
    /** This re-sizes the images, from their original 30px x 30px **/
    width: 15px;
    height: 15px;
    /** Custom syntax to fix the alignment of the bullet points **/
    margin-left: -30px;
    margin-right: 15px;
    &.checked-in {
      // Co-ordinates for sprites MUST take into account
      // the new dimensions for the image coordinates
      background: url(../../assets/status.png) 0px 0px;
      background-size: auto 15px;
    }
    &:not(.checked-in),
    &.not-checked-in {
      background: url(../../assets/status.png) 45px 0px;
      background-size: auto 15px;
    }
  }
}

span {
  &.status {
    display: block;
    float: left;
    /** This re-sizes the images, from their original 30px x 30px **/
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /** Custom syntax to fix the alignment of the bullet points **/
    margin-left: -30px;
    margin-right: 15px;
  }
}
