<div>
  <!-- <img
  [src]="statusDefaultImg"
  [ngClass]="{ 'status': true, 'checked-in': item.checkedIn, 'not-checked-in': !item.checkedIn }"
   /> -->
  <!-- Style binding -->
  <!-- <span [ngClass]="{ 'status': true, 'checked-in': item.checkedIn, 'not-checked-in': !item.checkedIn }"
    [style.backgroundColor]="(item.checkedIn ? 'green' : 'red')">&nbsp;</span> -->
  <!-- ngStyle -->
  <span [ngClass]="{ 'status-with-ng-style': true, 'status': true, 'checked-in': item.checkedIn, 'not-checked-in': !item.checkedIn }"
    [ngStyle]="{ 'backgroundColor': (item.checkedIn ? 'green' : 'red')}">&nbsp;</span>

  {{ item.fullname }}
  <p>{{ item | json }}</p>
  <div class="date">
    Check in date: {{ item.checkInDate | date: 'yMMMMd' }}
  </div>
  <div class="children">
    <!-- Using safe navigation operator -->
    {{ item.children?.length }}
  </div>
</div>
