@import url(https://fonts.googleapis.com/css?family=Roboto);
.app {
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
}

.app h1 {
  font-family: "Roboto" sans-serif;
}

.app img.logo {
  height: 80px;
  width: auto;
}
